# requirements.txt
streamlit
pandas
Pillow
PyMuPDF
xlsxwriter
numpy
# Versões fixas para maior compatibilidade com EasyOCR em ambientes de nuvem (Streamlit)
easyocr==1.7.1
torch==2.0.1
torchvision==0.15.2
